<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.o7planning.appbanhang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gstore"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gstore"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppbanHang"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.XemDonActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LienHeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThongTinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DangkiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChiTietActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LaptopActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DienThoaiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>